@page "/categories"
@inject HttpClient Http

<!--James Lynam - EAD CA3 - X00073019 - Categories.razor-->
<!--All C# code is present in Categories.cs-->

<div class="catCategories">
    <h3>Cat Categories</h3>
</div>

<div class="categoryDescription">
    <p>This page is simply used as a reference for each cat picture category.</p>
    <p>It pulls the information from the API.</p>
</div>


@if (data == null)
{
    <p><em>Loading...here kitty...</em></p> }

else
{

    <!--Just displaying some more data from API - category IDs-->
    <h4>@data[0].name ID: @data[0].id</h4>
    <h4>@data[1].name ID: @data[1].id</h4>
    <h4>@data[2].name ID: @data[2].id</h4>
    <h4>@data[3].name ID: @data[3].id</h4>
    <h4>@data[4].name ID: @data[4].id</h4>
    <h4>@data[5].name ID: @data[5].id</h4>
    <h4>@data[6].name ID: @data[6].id</h4>
}


<html>
<body>
</body>
<head>
    <!--Styling-->
    <style>
        h3 {
            text-align: center;
        }

        .catCategories {
            background-color: antiquewhite;
            width: 100%;
            padding-bottom: 16px;
            padding-top: 16px;
            border-radius: 25px;
            border: 2px solid black;
        }

        body {
            background-color: lightgrey;
        }

        .categoryDescription {
            margin-top: 1em;
        }
    </style>
</head>
</html>